.navbar {
    background-color: #2d2784;
    box-shadow: 0px 7px 13px -5px rgba(0,0,0,0.75);
}

.navbar-light .navbar-toggler {
    background-color: white;
}

.navbar-light .navbar-toggler-icon {
    background-color: white;
}

.nav-link {
    color: white !important;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
}

.nav-link:hover {
    height: 40px;
    border-bottom: 2px solid #e63321;
}

.nav-item {
    margin-left: 10%;
}

.card-img-top {
    width: 100% !important;
}

.col-sm-12 {
    display: flex;
    justify-content: center;
}

.carrousel {
    margin-top: 2%;
    margin-bottom: 2%;
}

.title-noticia {
    color: black;
    text-align: center;
    margin-bottom: 2%;
}

#row-noticia {
    background-color: #2d2784;
    background-image: repeating-linear-gradient(135deg,transparent,transparent 12.5px,rgba(0,0,0,.03) 12.5px,rgba(0,0,0,.03) 25px,transparent 25px,transparent 37.5px,rgba(0,0,0,.03) 37.5px,rgba(0,0,0,.03) 50px,transparent 50px,transparent 62.5px,rgba(0,0,0,.03) 62.5px,rgba(0,0,0,.03) 75px,transparent 75px,transparent 87.5px,rgba(0,0,0,.03) 87.5px,rgba(0,0,0,.03) 100px);
    padding: 1%;
}

.card {
    box-shadow: 0px 7px 13px -5px rgba(255,255,255,1);
    margin-bottom: 3.5%;
}

#row-sobre {
    margin-top: 1%;
}

.fachada {
    width: 100%;
}

.sub-text {
    text-align: center;
}

.pos-text {
    text-align: justify;
}

.title-contato {
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.text-contato {
    text-align: center;
}

label {
    width: 100%;
    text-align: center !important;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    margin-top: 1%;
}

#btn-submit, #btn-reset {
    width: 30%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 15%;
    text-align: center;
    background-color: #2d2784;
    border: 3px inset white;
    color: white;
    font-family: 'Arial' , sans-serif;
    font-size: 1em;
    outline: black solid thin;
}

#mapa, #mapa2 {
    width: 500px;
    height: 450px;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px inset white;
    outline: black solid thin;
    box-shadow: 2px 2px 13px 3px rgba(0,0,0,0.32);
}

.oferta {
    padding: 2.5%;
    box-shadow: 0px 7px 13px -5px rgba(0,0,0,0.75);
    margin: 2% 0 2% 0;
}

#col-logo-footer {
    margin-top: 1%;
}

#col-text-footer {
    margin-top: 1%;
}

.text-ofertas {
    text-align: center;
}

.img-oferta {
    width: 100%;
}

footer {
    background-color: #E8E8E8;
}

.next {
    float: right;
}